.lead__image {
  width: 100%;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
  }
} 

@media screen and (max-width: 850px) {
  .lead__image {
    max-width: 768px;
  }
}

@media screen and (max-width: 650px) {
  .lead__image {
    width: 100%;
  }
}


@media screen and (max-width: 337px) {
  .lead__image {
    max-width: 320px;
  }
}
